
body {
    background-color: #320f54;
    color: skyblue;
    font-family: 'Courier New';
    margin-left: 20%;
    margin-right: 20%;
}

h1, h2, h3, h4, h5, h6, p {
    width: 75%;
}

p {
    font-size: 14pt;
}

a:link {
    color: #f78fda;
}

a:visited {
    color: lightblue;
}

a:hover {
    background-color: #f78fda;
    color: lightblue;
}

a:active {
    background-color: #f78fda;
    color: lightblue;
}
