<!doctype html>
<html lang="en_us">
    <head>
        <link rel="stylesheet" href="../css/index.css">
        <title>Untitled</title>
    </head>
    <body>
        <p><ul><a href="../index.html">home</a></ul><ul><a href="./index.html">blog home</a></ul></p>
        <h1>
            ========================================<br />
            [title]<br />
            ========================================
        </h1>

        <!--[if lt IE 8]>
            <p class="browserupgrade">
            You are using an <strong>outdated</strong> browser. Please
            <a href="http://browsehappy.com/">upgrade your browser</a> to improve
            your experience.
            </p>
        <![endif]-->

        <p>
            <small>
                thanks for reading. click <a href=[last post]>here</a>
                to read my last blog, or follow me online here:
                <li>bluesky: <a href="https://bsky.app/profile/ellsylv.bsky.social" targe="_blank">@ellsylv.bsky.social</a></li>
                <li>github: <a href="https://github.com/elliethepuppy" target="_blank">github.com/elliethepuppy</a></li>
            </small>
        </p>
    </body>
</html>
